        <div>
            <h1>About Me</h1>
            <hr>
            <p style="margin-bottom: 0;">I'm a final year B.Tech CSE student, passionate about Python, Full Stack Dev,
                and crafting clean user
                experiences.</p>
            <p style="margin-top: 0; margin-bottom: 0;">When I'm not coding, you can find me writing poetry or exploring
                the latest tech trends.</p>
            <p style="margin-top: 0; margin-bottom: 0;">I'm always eager to learn and grow, whether it's through coding,
                writing, or engaging with the tech
                community.</p>
            <p style="margin-top: 0;">Feel free to connect with me on LinkedIn or GitHub, or drop me a message through
                the contact form below.
            </p>
            <!-- <p>Connect with me on <a href="https://www.linkedin.com/in/shivraj-patil-7b0a1b1b6/">LinkedIn</a> -->
        </div>